body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  background: #eef2f5;
  color: #2b2b2b;
  line-height: 1.6;
}

header {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 60px 250px 5px;
}

.profile-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#profile-img{
  width: 60px;
  height: 60px;
}

#profile-name{
  margin: 0px;
  font-size: 60px;
}

nav {
  text-align: center;
  padding: 50px 0;
  animation: slideDownFade 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideDownFade{
  from{
    opacity: 0;
    transform: translateY(-20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

nav a {
  color: #ffffffb7;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  padding: 8px, 12px;
  margin: 0 18px;
  transition: color 0.3s ease;
}

nav a:hover {
  cursor: pointer;
}

nav a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0%;
  left: 0%;
  background-color: #ffffffb7;
  transform:scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

nav a:hover::after{
  transform: scaleX(1);
}

main {
  background: linear-gradient( 180deg, #000000, #026a8d);
  color: #ffffff;
  max-width: auto;
  padding: 20px 190px;
  font-size: 29px;
  text-align: center;
}

#about{
  margin-top: 50px;
}

#projects{
  margin-top: 120px;
}

#projects button{
  color: azure;
}

#skills{
  margin-top: 150px;
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  gap: 15px;
  margin: 20 auto;
}

#skills h3{
  grid-column: span 2;
  text-align: center;
  margin-bottom: 10px;
}

section {
  background: #026a8d00;
  width: 200px;
  height: 45px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.63);

  display: flex;
  align-items: center;
  justify-content: center;
}

section img {
  margin: 8px 8px 8px 0;
}

body > img {
  display: block;
  margin: 10px auto;
}

aside {
  background: #fff3d6;
  border-left: 5px solid #f0b429;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 25px auto;
  max-width: 860px;
}

footer {
  background: #026a8d;
  color: #cfe3e8;
  text-align: center; 
  padding: 20px;
}

#contacts{
  margin-top: 70px;
    display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  gap: 15px;
  margin: 20 auto;
}

#contacts img{
  width: 35px
}

button{
  background: #026a8d8a;
  width: 200px;
  height: 45px;

  border-radius: 15px;
  border-color:#026a8d;
  border-style: solid;
  outline: none;
  box-shadow: 0 4px 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 8px;
  cursor: pointer;
}

.button-link{
  text-decoration: none;
  display: inline-block;
}

#contacts h2{
    grid-column: span 2;
  text-align: center;
  margin-bottom: 10px;
}

.basement{
  margin-top: 100px;
  margin-bottom: 70px;
}
